* {
    box-sizing: border-box;
}

html,
body {
    font-family: 'BlinkMacSystemFont', 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif;
    height: 100%;
}

h1 {
    font-size: 1.25rem;
    padding-top: 14px;
    margin: 0 10px;
    text-align: center;
}

.header-area {
    display: flex;
    border-bottom: 1px solid #cfcfcf;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    ;
}

.header-area img {
    height: 70px;
}

body {
    display: flex;
    align-items: stretch;
    height: 100%;
}

.sidebar {
    background: #e9e9e9;
    width: 25%;
    min-width: 200px;
    border-right: 1px solid #cfcfcf;
    display: inline-flex;
    overflow: hidden;
    flex-direction: column;
}

.body-pane {
    background: #ffffff;
    display: inline-block;
    width: 75%;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 100%;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
}

.spinner {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

h3 {
    font-size: 1.0rem;
    font-weight: normal;
}

label {
    font-weight: 600;
}

#editor-holder>div>h3.card-title {
    font-size: 1.3rem;
    margin-top: 20px;
    margin-bottom: 0;
    font-weight: bold;
}

#editor-holder>div>h3.card-title~p {
    opacity: 0.8;
}

h3.card-title~p {
    font-size: 80%;
}

.card-body {
    padding: 0;
}

.card-body .btn-group {
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.card {
    border: none;
}

.top-bar {
    position: fixed;
    top: 0;
    right: 20px;
    text-align: right;
    margin: 20px;
    z-index: 99;
}

#entries-index {
    font-size: 0.75rem;
    list-style-type: none;
}

#entries-index li {
    cursor: pointer;
}

#entries-index li:hover {
    opacity: 0.5;
}

.filter-entries-group {
    margin: 10px 35px;
}

textarea {
    overflow: hidden;
}

.toast-center {
    position: fixed;
    z-index: 55;
    align-items: center;
    justify-content: center;
    width: 70%;
    left: 30%;
    display: none;
    opacity: 0;
    top: 20px;
}

.toast {
    opacity: 1 !important;
}

.toast-center.visible {
    -webkit-animation: fadein 0.5s, fadeout 0.5s 3s;
    animation: fadein 0.5s, fadeout 0.5s 3s;
    opacity: 1;
    display: flex;
}

.is-invalid input, .is-invalid textarea {
    border: 1px solid red;
}

@keyframes fadein {
    from {
        opacity: 0;
        top: -30px;
    }
    to {
        opacity: 1;
        top: 20;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
        top: 0
    }
    to {
        opacity: 20;
        top: -30px;
    }
}

.input-button {
    margin: 7px 7px 7px 2px;
}

ul {
    height: 100%;
    overflow-y: auto;
    width: 100%;
    overflow-x: hidden;
}

.choices__inner {
    background: #ffffff;
}

.set-default {
    position: relative;
    display: block;
}

.set-default .set {
    position: absolute;
    top: 37px;
    right: 5px;
    font-size: 0.9em;
    color: inherit;
    z-index: 999;
}

@media (prefers-color-scheme: dark) {
    .bg-light,
    .body-pane,
    .card .row {
        background: #353535 !important;
    }

    .sidebar {
        background: #252525;
        border-right: 1px solid #555;
    }

    .header-area {
        border-bottom: 1px solid #555;
    }

    #entries-index,
    h1,
    h3,
    label,
    li,
    p {
        color: #ccc;
    }

    .form-control,
    .form-control:disabled,
    .form-control:focus,
    .choices__inner,
    .choices__list--dropdown {
        background-color: #555;
        color: #ccc;
        border-color: #999;
    }

    .form-control:disabled {
        color: #aaa;
    }

    img {
        filter: invert(0.5);
    }

    .je-modal {
        background-color: #555;
    }

    ::-webkit-scrollbar {
        background: #000;
    }

    ::-webkit-scrollbar-thumb {
        background: #aaa;
    }

    /* Tomorrow Comment */
    .hljs-comment,
    .hljs-quote {
        color: #969896;
    }

    /* Tomorrow Red */
    .hljs-variable,
    .hljs-template-variable,
    .hljs-tag,
    .hljs-name,
    .hljs-selector-id,
    .hljs-selector-class,
    .hljs-regexp,
    .hljs-deletion {
        color: #cc6666;
    }

    /* Tomorrow Orange */
    .hljs-number,
    .hljs-built_in,
    .hljs-builtin-name,
    .hljs-literal,
    .hljs-type,
    .hljs-params,
    .hljs-meta,
    .hljs-link {
        color: #de935f;
    }

    /* Tomorrow Yellow */
    .hljs-attribute {
        color: #f0c674;
    }

    /* Tomorrow Green */
    .hljs-string,
    .hljs-symbol,
    .hljs-bullet,
    .hljs-addition {
        color: #b5bd68;
    }

    /* Tomorrow Blue */
    .hljs-title,
    .hljs-section {
        color: #81a2be;
    }

    /* Tomorrow Purple */
    .hljs-keyword,
    .hljs-selector-tag {
        color: #b294bb;
    }

    .hljs {
        display: block;
        overflow-x: auto;
        background: #1d1f21;
        color: #c5c8c6;
        padding: 0.5em;
    }

    .hljs-emphasis {
        font-style: italic;
    }

    .hljs-strong {
        font-weight: bold;
    }

    .choices__list--multiple .choices__item.is-highlighted {
        background-color: #00a5bb;
        border: 1px solid #008fa1
    }

    .choices__list--dropdown .choices__item--selectable.is-highlighted {
        background-color: #333333
    }

    .choices__input {
        background-color: #555555 !important;
        color: #ccc;
    }
    
    .choices[data-type*=select-one]:after {
        border-color: #ccc, transparent, transparent;
    }
}